
<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>AnyNote</title>
    <link media="all" rel="stylesheet" href="style.css" type="text/css" />
</head>
<body>
    <header>
        <a class="back" href="javascript:history.back();">返回</a>
        <h1>AnyNote</h1>
        <a class="add" href="#add">添加</a>
        <a class="tag" href="#tag">标签</a>
    </header>
    <section class="panel" id="notes" >
        <div class="noteList"></div>
    </section>
    <section  class="panel"  id="addNote" style="display: none;" >
      <div>
        <h2>添加笔记</h2>
        <div class="box">
           <input type="text" class="txtBlock" id="note_title"  placeholder="笔记标题，选填"> 
           <div class="editor" contenteditable="true" id="note_content"  ></div>
           <input type="file" class="pickImg" />
           <input type="text" class="txtBlock" id="note_tag"  placeholder="标签，用逗号分隔"> 
           <input type="submit" class="submit s_button" id="create_note" value="保存"> 
        </div>
      </div>
    </section>
    <section  class="panel"  id="editNote" style="display:none" >
        <h2>编辑笔记</h2>
        <div class="box">
           
        </div>
    </section>

    <section  class="panel" id="showTag"  style="display:none"  >
      <div class="tagList">
        <div class="search"><input  type="text" class="txtBlock searchBox" id="tagbox"  placeholder="搜索多个标签，用逗号分隔" ><input type="button" class="button searchBtn" id="searchTag" value="搜索"></div> 
      </div>
    </section>

    <section class="panel" id="tagNote"  style="display:none"   >
        <div class="tagnoteList"></div>
    </section>

    <section  class="panel" id="showNote"  style="display:none"  >
      <div class="detail">
        <div class="title"><h3><%= title %></h3></div>
        <div class="meta">标签：<%= tag %> &nbsp;&nbsp; 时间：<%= date %></div>
        <div class="content">
          <%= content %>
        </div>
      </div>
    </section>
    

    <section class="login">
        <h2>用户登录</h2>
           <input type="text" class="email" name="email" placeholder="Email"> 
           <input type="password" class="password" name="password" placeholder="密码"> 
           <input type="submit" class="btnlogin" value="登录"> 
    </section>

    <div id="alertBox">
      <div class="title">您想要？</div>
      <div class="option" id="opEdit">编辑该条目</div>
      <div class="option" id="opDel" >删除该条目</div>
    </div>
    <!--<script src="/js/mobile_html5.js"></script>-->
    <script src="./js/zepto.min.js"></script>
    <script src="./js/underscore-min.js"></script>
    <script src="./js/backbone-min.0.9.2.js"></script>
    <script src="./js/iscroll.js"></script>
    <script src="./js/main.js"></script>   

</body>
</html>
